*{
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom right, blue, white);
    height: 100vh;
}

button {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 62px;
    cursor: pointer;  
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transform: 0.1s;
}

button:after {
    content: 'i chto eto takoe';
    width: 100%;   
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #444;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}